

$primary:#20c997;
$primary-overlay:rgba(20, 117, 101, 0.733);


body{
    margin-top:105px;
}



.navbar{


    box-shadow: 2px 2px 5px $primary;
    opacity:0.9;
    background: white;

    .nav-item{
        font-size:1.4rem;
        padding-right:20px;
    }
}


#showcase{
    position: relative;
    background:url('../img/mountain.jpg');
    min-height:600px;
    



    .primary-overlay{
        background:$primary-overlay;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}



.info-header{
    width:50%;
    margin:auto;
    border-buttom:1px;
}


#authors{
    img{
      margin-top:-50px;
    }
  
    .fa{
      font-size:25px;
    }
  
    .card:hover{
      background:$primary;
      color:#fff;
  
      .fa{
        color:#fff;
      }
    }
  }
                
